process { 
    withName: 'MULTIQC'     { conda = 'modules/nf-core/multiqc/.conda-lock/linux_amd64-bd-c17fb751507e9dfc_1.txt' }
    withName: 'ULTRA_ALIGN' { conda = 'modules/nf-core/ultra/align/environment.yml' }
    withName: 'ULTRA_INDEX' { conda = 'modules/nf-core/ultra/index/environment.yml' }
}
