process { 
    withName: 'MULTIQC'     { conda = 'modules/nf-core/multiqc/.conda-lock/linux_arm64-bd-5c84a5000a226ab5_1.txt' }
    withName: 'ULTRA_ALIGN' { conda =  'modules/nf-core/ultra/align/.conda-lock/linux_amd64-container-pinned.txt' }
    withName: 'ULTRA_INDEX' { conda =  'modules/nf-core/ultra/index/.conda-lock/linux_amd64-container-pinned.txt' }
}
