/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/isoseq -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Test inputs ccs lima refine map and merge all samples'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Input data
    input           = params.pipelines_testdata_base_path + 'samplesheet_v2_ccs_lima_refine_map.csv'
    primers         = params.pipelines_testdata_base_path + 'testdata/primers.fasta'
    fasta           = params.pipelines_testdata_base_path + 'reference/Homo_sapiens.GRCh38.dna.chromosome.19.fasta'
    rq              = 0.9
    chunk_ccs       = 5
    chunk_mapping   = 500
    five_prime      = 100
    splice_junction = 10
    three_prime     = 100
    capped          = true
    aligner         = 'minimap2'
    tama_merge_all  = true
}
