/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/isoseq -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile - Minimap2 path - Entrypoint map'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data
    input           = 'https://raw.githubusercontent.com/nf-core/test-datasets/isoseq/samplesheet_map_entrypoint.csv'
    primers         = 'https://raw.githubusercontent.com/nf-core/test-datasets/isoseq/testdata/primers.fasta'
    fasta           = 'https://raw.githubusercontent.com/nf-core/test-datasets/isoseq/reference/Homo_sapiens.GRCh38.dna.chromosome.19.fasta'

    chunk           = 100
    five_prime      = 100
    splice_junction = 10
    three_prime     = 100
    capped          = true

    aligner         = 'minimap2'
    entrypoint      = 'map'
}
